global
    maxconn 8192

defaults
    mode http
    option dontlognull
    timeout connect 2s
    timeout client  30s
    timeout server  30s
    retries 2

frontend http
    bind :9999
    default_backend apis

backend apis
    balance leastconn
    server api1 api1:8080
    server api2 api2:8080
