global
    maxconn 8192

defaults
    mode tcp
    option dontlognull
    timeout connect 1s
    timeout client  30s
    timeout server  30s

frontend http
    bind :9999
    mode tcp
    default_backend apis

backend apis
    mode tcp
    balance roundrobin
    server api1 api1:8080
    server api2 api2:8080